<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gitzblitz.signlearner"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.gitzblitz.signlearner.MainActivity"
            android:label="Home" >
            <intent-filter>
"
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.gitzblitz.signlearner.UnitList"
            android:label="@string/title_activity_unit_list" >
        </activity>
        <activity
            android:name="com.gitzblitz.signlearner.SpecialKeysIntro"
            android:label="@string/title_activity_special_keys_intro"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.gitzblitz.signlearner.SplashScreen"
            android:label="@string/title_activity_splash_screen"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.gitzblitz.signlearner.SpecialKeysIntro2"
            android:label="@string/title_activity_special_keys_intro2" >
        </activity>
        <activity
            android:name="com.gitzblitz.signlearner.SpecialKeysExamples"
            android:label="Special Keys - Examples" >
        </activity>
        <activity
            android:name="com.gitzblitz.signlearner.LessonList"
            android:label="@string/title_activity_lesson_list" >
        </activity>
        <activity
            android:name="com.gitzblitz.signlearner.UnitLoaded"
            android:label="@string/title_activity_unit_one" >
        </activity>
        <activity
            android:name="com.gitzblitz.signlearner.LessonLoaded"
            android:label="@string/title_activity_lesson_loaded" >
        </activity>
        <activity
            android:name="com.gitzblitz.signlearner.LessonDetail"
            android:label="@string/title_activity_lesson_detail" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

</manifest>
